<img src="https://robohash.org/<%= robot.name %>" alt="<%= @robot.name %>" />
<h1><%= robot %></h1>
<!-- <h2><%= @robot.avatar %></h2>
<h2><%= @robot.birth %></h2>
<h2><%= @robot.state %></h2>
<h2><%= @robot.city %></h2>
<h2><%= @robot.department %></h2>
<h2><%= @robot.hired %></h2> -->
